.file-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;

}

.file-panel .fab {
    position: absolute;
    bottom: 16px;
    right: 16px;
}