.fileCard {
    display: flex;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    border: 1px solid rgb(var(--md-sys-color-outline-variant));
    border-radius: 8px;
    margin-bottom: 12px;
    background-color: rgb(var(--md-sys-color-surface-container-lowest));
    cursor: pointer;
    width: 250px;
    height: 160px;
    overflow: hidden;
}
.fileCard .fileCover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-bottom: 8px;
    background-color: rgb(var(--md-sys-color-error-container));
    color: rgb(var(--md-sys-color-on-error-container));
    border-radius: 4px;
}
.fileCard .fileData {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    font-size: 8pt;
}

.fileCard .fileInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
    overflow: hidden;
}

.fileCard .titleSmall {
    /* add ... on overflow */
    max-width: 1fr;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fileCard .stateLayer{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.fileCard:hover .stateLayer:not(.fileCard:hover * .stateLayer){
    background-color: rgb(var(--md-sys-color-primary));
    opacity: var(--md-state-alpha-opacity-08);
}
.fileCard:active .stateLayer:not(.fileCard:active * .stateLayer){
    background-color: rgb(var(--md-sys-color-primary));
    opacity: var(--md-state-alpha-opacity-16);
}

.fileCard .delete {
    z-index: 2;
    color: rgb(var(--md-sys-color-error)); 
}
.fileCard:hover .coverIcon {
    font-size: 30px;
}

.coverIcon {
    transition: font-size 0.2s ease-in-out;
}

.fileCard .delete:hover {
    cursor: pointer;
    color: rgb(var(--md-sys-color-on-error-container));
    background-color: rgb(var(--md-sys-color-error-container));
}

@media (min-width: 600px) {
    .fileCard {
        width: 230px;
    }
}

@media (min-width: 1024px) {
    .fileCard {
        width: 225px;
    }
}

