.fileRow {
    display: flex;
    box-sizing: border-box;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border: 1px solid rgb(var(--md-sys-color-outline-variant));
    border-radius: 8px;
    background-color: rgb(var(--md-sys-color-surface-container-lowest));
    cursor: pointer;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    gap: 12px;
}
.fileRow .fileRowCover {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    min-height: 50px;
    background-color: rgb(var(--md-sys-color-error-container));
    color: rgb(var(--md-sys-color-on-error-container));
    border-radius: 4px;
}
.fileRow .fileData {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    font-size: 8pt;
}

.fileRow .fileInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
    overflow: hidden;
}

.fileRow .titleSmall {
    /* add ... on overflow */
    max-width: 1fr;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fileRow .stateLayer{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.fileRow:hover .stateLayer:not(.fileRow:hover * .stateLayer){
    background-color: rgb(var(--md-sys-color-primary));
    opacity: var(--md-state-alpha-opacity-08);
}
.fileRow:active .stateLayer:not(.fileRow:active * .stateLayer){
    background-color: rgb(var(--md-sys-color-primary));
    opacity: var(--md-state-alpha-opacity-16);
}

.fileRow .delete {
    z-index: 2;
    color: rgb(var(--md-sys-color-error)); 
}
.fileRow:hover .coverIcon {
    font-size: 30px;
}

.coverIcon {
    transition: font-size 0.2s ease-in-out;
}

.fileRow .delete:hover {
    cursor: pointer;
    color: rgb(var(--md-sys-color-on-error-container));
    background-color: rgb(var(--md-sys-color-error-container));
}



