.iconButton {
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    color: rgb(var(--md-sys-color-on-surface-variant))
}
.iconButton .label {
    display: none;
}
.iconButton .stateLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    pointer-events: none;
    background-color: rgb(var(--md-sys-color-on-surface-variant));
    opacity: 0;
    transition: opacity 0.3s;
}


.iconButton.extra-small {
    width: 32px;
    height: 32px;
    font-size: 20px;
}
.iconButton.extra-small .material-symbols-outlined {
    font-size: 20px;
}
.iconButton.small {
    width: 40px;
    height: 40px;
    font-size: 24px;
}
.iconButton.small .material-symbols-outlined {
    font-size: 24px;
}
.iconButton.medium{
    width: 56px;
    height: 56px;
    font-size: 24px;
}
.iconButton.medium .material-symbols-outlined {
    font-size: 24px;
}

.iconButton.large {
    width: 64px;
    height: 64px;
    font-size: 32px;
}
.iconButton.large .material-symbols-outlined {
    font-size: 32px;
}
.iconButton.extra-large {
    width: 96px;
    height: 96px;
    font-size: 32px;
}
.iconButton.extra-large .material-symbols-outlined {
    font-size: 32px;
}



.iconButton.standard{
    background-color: transparent;
    color: rgb(var(--md-sys-color-on-surface-variant));
}

.iconButton.standard:disabled {
    color: rgba(var(--md-sys-color-on-surface), 0.38);
    cursor: not-allowed;
}


.iconButton.filled{
    background-color: rgb(var(--md-sys-color-primary));
    color: rgb(var(--md-sys-color-on-primary));
}
.iconButton.filled:disabled {
    background-color: rgba(var(--md-sys-color-on-surface), var(--md-state-alpha-opacity-10));
    color: rgba(var(--md-sys-color-on-surface), 0.38);
    cursor: not-allowed;
}


.iconButton.tonal{
    background-color: rgb(var(--md-sys-color-secondary-container));
    color: rgb(var(--md-sys-color-on-secondary-container));
}
.iconButton.tonal:disabled {
    background-color: rgba(var(--md-sys-color-on-surface), var(--md-state-alpha-opacity-10));
    color: rgba(var(--md-sys-color-on-surface), 0.38);
    cursor: not-allowed;
}

.iconButton.outlined{
    border: 1.5px solid rgb(var(--md-sys-color-outline-variant));
    background-color: transparent;
    color: rgb(var(--md-sys-color-on-surface-variant));
}

.iconButton.outlined:disabled {
    color: rgba(var(--md-sys-color-on-surface), 0.38);
    border-color: rgba(var(--md-sys-color-outline-variant), var(--md-state-alpha-opacity-10));
    cursor: not-allowed;
}

.iconButton:hover .stateLayer {
    opacity: var(--md-state-alpha-opacity-08);
}

.iconButton:active .stateLayer {
    opacity: var(--md-state-alpha-opacity-10);
}

