.notebookCard {
    display: flex;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    border: 1px solid var(--md-sys-color-outline);
    border-radius: 8px;
    margin-bottom: 12px;
    background-color: var(--md-sys-color-surface-container-lowest);
    cursor: pointer;
    width: 250px;
    height: 160px;
    overflow: hidden;
}
.notebookCard .notebookCover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-bottom: 8px;
    background-color: rgb(var(--md-sys-color-secondary));
    color: rgb(var(--md-sys-color-on-secondary));
    border-radius: 4px;
}
.notebookCard .notebookData {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.notebookCard .notebookInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
    overflow: hidden;
}

.notebookCard .titleSmall {
    /* add ... on overflow */
    max-width: 1fr;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notebookCard .stateLayer{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.notebookCard:hover .stateLayer:not(.notebookCard:hover * .stateLayer){
    background-color: rgb(var(--md-sys-color-primary));
    opacity: var(--md-state-alpha-opacity-08);
}
.notebookCard:active .stateLayer:not(.notebookCard:active * .stateLayer){
    background-color: rgb(var(--md-sys-color-primary));
    opacity: var(--md-state-alpha-opacity-16);
}

.notebookCard .delete {
    z-index: 2;
    color: rgb(var(--md-sys-color-error)); 
}
.notebookCard:hover .coverIcon {
    font-size: 30px;
}

.coverIcon {
    transition: font-size 0.2s ease-in-out;
}

.notebookCard .delete:hover {
    cursor: pointer;
    color: rgb(var(--md-sys-color-on-error-container));
    background-color: rgb(var(--md-sys-color-error-container));
}

@media (min-width: 600px) {
    .notebookCard {
        width: 230px;
    }
}

@media (min-width: 1024px) {
    .notebookCard {
        width: 225px;
    }
}

