.dark-medium-contrast {
  --md-sys-color-primary: rgb(176 235 181);
  --md-sys-color-surface-tint: rgb(155 212 161);
  --md-sys-color-on-primary: rgb(0 45 16);
  --md-sys-color-primary-container: rgb(102 157 110);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(205 226 203);
  --md-sys-color-on-secondary: rgb(25 41 27);
  --md-sys-color-secondary-container: rgb(130 150 130);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(244 219 129);
  --md-sys-color-on-tertiary: rgb(46 37 0);
  --md-sys-color-tertiary-container: rgb(164 144 62);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 21 16);
  --md-sys-color-on-background: rgb(224 228 220);
  --md-sys-color-surface: rgb(16 21 16);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 73 65);
  --md-sys-color-on-surface-variant: rgb(215 222 212);
  --md-sys-color-outline: rgb(172 180 170);
  --md-sys-color-outline-variant: rgb(139 146 137);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 228 220);
  --md-sys-color-inverse-on-surface: rgb(38 43 38);
  --md-sys-color-inverse-primary: rgb(28 82 43);
  --md-sys-color-primary-fixed: rgb(182 241 187);
  --md-sys-color-on-primary-fixed: rgb(0 21 5);
  --md-sys-color-primary-fixed-dim: rgb(155 212 161);
  --md-sys-color-on-primary-fixed-variant: rgb(4 63 26);
  --md-sys-color-secondary-fixed: rgb(211 232 209);
  --md-sys-color-on-secondary-fixed: rgb(5 20 8);
  --md-sys-color-secondary-fixed-dim: rgb(184 204 182);
  --md-sys-color-on-secondary-fixed-variant: rgb(41 58 43);
  --md-sys-color-tertiary-fixed: rgb(251 226 135);
  --md-sys-color-on-tertiary-fixed: rgb(22 17 0);
  --md-sys-color-tertiary-fixed-dim: rgb(221 198 110);
  --md-sys-color-on-tertiary-fixed-variant: rgb(65 53 0);
  --md-sys-color-surface-dim: rgb(16 21 16);
  --md-sys-color-surface-bright: rgb(65 70 64);
  --md-sys-color-surface-container-lowest: rgb(5 8 5);
  --md-sys-color-surface-container-low: rgb(26 31 26);
  --md-sys-color-surface-container: rgb(36 41 36);
  --md-sys-color-surface-container-high: rgb(47 52 46);
  --md-sys-color-surface-container-highest: rgb(58 63 57);
}
