.dark {
  --md-sys-color-primary: 155, 212, 161;
  --md-sys-color-surface-tint: 155, 212, 161;
  --md-sys-color-on-primary: 0, 57, 22;
  --md-sys-color-primary-container: 26, 81, 41;
  --md-sys-color-on-primary-container: 182, 241, 187;
  --md-sys-color-secondary: 184, 204, 182;
  --md-sys-color-on-secondary: 35, 52, 37;
  --md-sys-color-secondary-container: 57, 75, 59;
  --md-sys-color-on-secondary-container: 211, 232, 209;
  --md-sys-color-tertiary: 221, 198, 110;
  --md-sys-color-on-tertiary: 58, 48, 0;
  --md-sys-color-tertiary-container: 84, 70, 0;
  --md-sys-color-on-tertiary-container: 251, 226, 135;
  --md-sys-color-error: 255, 180, 171;
  --md-sys-color-on-error: 105, 0, 5;
  --md-sys-color-error-container: 147, 0, 10;
  --md-sys-color-on-error-container: 255, 218, 214;
  --md-sys-color-background: 16, 21, 16;
  --md-sys-color-on-background: 224, 228, 220;
  --md-sys-color-surface: 16, 21, 16;
  --md-sys-color-on-surface: 224, 228, 220;
  --md-sys-color-surface-variant: 65, 73, 65;
  --md-sys-color-on-surface-variant: 193, 201, 190;
  --md-sys-color-outline: 139, 147, 137;
  --md-sys-color-outline-variant: 65, 73, 65;
  --md-sys-color-shadow: 0, 0, 0;
  --md-sys-color-scrim: 0, 0, 0;
  --md-sys-color-inverse-surface: 224, 228, 220;
  --md-sys-color-inverse-on-surface: 45, 50, 44;
  --md-sys-color-inverse-primary: 52, 105, 63;
  --md-sys-color-primary-fixed: 182, 241, 187;
  --md-sys-color-on-primary-fixed: 0, 33, 10;
  --md-sys-color-primary-fixed-dim: 155, 212, 161;
  --md-sys-color-on-primary-fixed-variant: 26, 81, 41;
  --md-sys-color-secondary-fixed: 211, 232, 209;
  --md-sys-color-on-secondary-fixed: 14, 31, 17;
  --md-sys-color-secondary-fixed-dim: 184, 204, 182;
  --md-sys-color-on-secondary-fixed-variant: 57, 75, 59;
  --md-sys-color-tertiary-fixed: 251, 226, 135;
  --md-sys-color-on-tertiary-fixed: 34, 27, 0;
  --md-sys-color-tertiary-fixed-dim: 221, 198, 110;
  --md-sys-color-on-tertiary-fixed-variant: 84, 70, 0;
  --md-sys-color-surface-dim: 16, 21, 16;
  --md-sys-color-surface-bright: 54, 58, 53;
  --md-sys-color-surface-container-lowest: 11, 15, 11;
  --md-sys-color-surface-container-low: 24, 29, 24;
  --md-sys-color-surface-container: 28, 33, 28;
  --md-sys-color-surface-container-high: 38, 43, 38;
  --md-sys-color-surface-container-highest: 49, 54, 49;
}
