.light {
  --md-sys-color-primary: 52, 105, 63;
  --md-sys-color-surface-tint: 52, 105, 63;
  --md-sys-color-on-primary: 255, 255, 255;
  --md-sys-color-primary-container: 182, 241, 187;
  --md-sys-color-on-primary-container: 26, 81, 41;
  --md-sys-color-secondary: 81, 99, 81;
  --md-sys-color-on-secondary: 255, 255, 255;
  --md-sys-color-secondary-container: 211, 232, 209;
  --md-sys-color-on-secondary-container: 57, 75, 59;
  --md-sys-color-tertiary: 111, 93, 14;
  --md-sys-color-on-tertiary: 255, 255, 255;
  --md-sys-color-tertiary-container: 251, 226, 135;
  --md-sys-color-on-tertiary-container: 84, 70, 0;
  --md-sys-color-error: 186, 26, 26;
  --md-sys-color-on-error: 255, 255, 255;
  --md-sys-color-error-container: 255, 218, 214;
  --md-sys-color-on-error-container: 147, 0, 10;
  --md-sys-color-background: 247, 251, 242;
  --md-sys-color-on-background: 24, 29, 24;
  --md-sys-color-surface: 247, 251, 242;
  --md-sys-color-on-surface: 24, 29, 24;
  --md-sys-color-surface-variant: 221, 229, 218;
  --md-sys-color-on-surface-variant: 65, 73, 65;
  --md-sys-color-outline: 114, 121, 112;
  --md-sys-color-outline-variant: 193, 201, 190;
  --md-sys-color-shadow: 0, 0, 0;
  --md-sys-color-scrim: 0, 0, 0;
  --md-sys-color-inverse-surface: 45, 50, 44;
  --md-sys-color-inverse-on-surface: 238, 242, 234;
  --md-sys-color-inverse-primary: 155, 212, 161;
  --md-sys-color-primary-fixed: 182, 241, 187;
  --md-sys-color-on-primary-fixed: 0, 33, 10;
  --md-sys-color-primary-fixed-dim: 155, 212, 161;
  --md-sys-color-on-primary-fixed-variant: 26, 81, 41;
  --md-sys-color-secondary-fixed: 211, 232, 209;
  --md-sys-color-on-secondary-fixed: 14, 31, 17;
  --md-sys-color-secondary-fixed-dim: 184, 204, 182;
  --md-sys-color-on-secondary-fixed-variant: 57, 75, 59;
  --md-sys-color-tertiary-fixed: 251, 226, 135;
  --md-sys-color-on-tertiary-fixed: 34, 27, 0;
  --md-sys-color-tertiary-fixed-dim: 221, 198, 110;
  --md-sys-color-on-tertiary-fixed-variant: 84, 70, 0;
  --md-sys-color-surface-dim: 215, 219, 211;
  --md-sys-color-surface-bright: 247, 251, 242;
  --md-sys-color-surface-container-lowest: 255, 255, 255;
  --md-sys-color-surface-container-low: 241, 245, 237;
  --md-sys-color-surface-container: 235, 239, 231;
  --md-sys-color-surface-container-high: 229, 234, 225;
  --md-sys-color-surface-container-highest: 224, 228, 220;
}


