.light-medium-contrast {
  --md-sys-color-primary: rgb(4 63 26);
  --md-sys-color-surface-tint: rgb(52 105 63);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(67 120 77);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(41 58 43);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(95 114 95);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(65 53 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(126 108 29);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(247 251 242);
  --md-sys-color-on-background: rgb(24 29 24);
  --md-sys-color-surface: rgb(247 251 242);
  --md-sys-color-on-surface: rgb(14 18 14);
  --md-sys-color-surface-variant: rgb(221 229 218);
  --md-sys-color-on-surface-variant: rgb(49 56 49);
  --md-sys-color-outline: rgb(77 84 76);
  --md-sys-color-outline-variant: rgb(104 111 102);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(45 50 44);
  --md-sys-color-inverse-on-surface: rgb(238 242 234);
  --md-sys-color-inverse-primary: rgb(155 212 161);
  --md-sys-color-primary-fixed: rgb(67 120 77);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(42 95 54);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(95 114 95);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(71 89 72);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(126 108 29);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(100 84 2);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(195 200 192);
  --md-sys-color-surface-bright: rgb(247 251 242);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(241 245 237);
  --md-sys-color-surface-container: rgb(229 234 225);
  --md-sys-color-surface-container-high: rgb(218 222 214);
  --md-sys-color-surface-container-highest: rgb(207 211 203);
}
