.title {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: transparent;
    color: rgb(var(--md-sys-color-on-background));
    border: 1px solid transparent;
    border-radius: var(--md-sys-corner-size-small);
    width: auto ;
    max-width: 1fr;
    padding: 0 16px;
    field-sizing: content;
}
.title:hover{
    border: 1px solid rgb(var(--md-sys-color-outline-variant));
}
.editor{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 16px;
    overflow: hidden;
}
main section{
    background-color: transparent;
}

.editor-container{
    position: sticky;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background-color: transparent;
    border-radius: var(--md-sys-corner-size-none);
    scroll-behavior: smooth;
    top: 0;
    padding: 0;

}

.editor-container::-webkit-scrollbar {
    position: absolute;
    width:10px;
    height: 100%;
    background-color: rgb(var(--md-sys-color-surface-container-low));
    border-radius: var(--md-sys-corner-size-full);
}

.editor-container::-webkit-scrollbar-thumb {
    background-color: rgba(var(--md-sys-color-on-surface),0.5);
    border-radius: var(--md-sys-corner-size-small);
    border: 2px solid transparent;
    background-clip: content-box;
}


.notebook {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    background-color: transparent;
    z-index: 0;
}

.editor-placeholder {
    position: absolute;
    top: 8px;
    left: 8px;
    color: rgb(var(--md-sys-color-on-surface-variant));
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
}

.page{
    display: grid;
    box-sizing: border-box;
    font-size: inherit;
    width: 100%;
    overflow: hidden;
    line-height: 1.5;
    
    color: rgb(var(--md-sys-color-on-surface));
    background-color: rgb(var(--md-sys-color-surface-container-lowest));
    
    padding: 8px;
    
    border-radius: var(--md-sys-corner-size-extra-small);
    box-shadow: var(--md-elevation-shadow-1);
    
}
.component {
    box-sizing: border-box;
    font-size: inherit;
    border: 1px dotted rgb(var(--md-sys-color-outline));
    padding: 4px;

}