.editor{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    width: 100%;
    height: 100%;
    padding: 16px;
    overflow: hidden;
    box-sizing: border-box;
}
main section{
    background-color: transparent;
}

.notebook{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 24px;

    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparent;
}