@import url('/src/styles/M3/light.css');
@import url('/src/styles/M3/dark.css');
@import url('/src/styles/M3/state-layers.css');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('/src/styles/M3/shapes.css');
@import url('/src/styles/M3/effects.css');
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url('/src/styles/MaterialSymbolsOutlined[FILL\,GRAD\,opsz\,wght].woff2') format('woff');
}


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(var(--md-sys-color-on-background));
  background-color: rgb(var(--md-sys-color-background));
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    position: relative;
  margin: 0;
  display: flex;
  place-items: center;
  height: 100vh;
  width: 100vw;
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  box-sizing: border-box;
  color: rgb(var(--md-sys-color-on-background));

}

#root{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  box-sizing: inherit;
}
.app{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    box-sizing: inherit;
}
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

/* Quite margin from text elements */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
.displayLarge, h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 4.75em;
    line-height: 1.2em;
    font-weight: normal;
    letter-spacing: -0.25px;
}

.displayMedium, h2 {
    font-family: "Work Sans", sans-serif;
    font-size: 3.75em;
    line-height: 1.2em;
    font-weight: normal;
    letter-spacing: 0px;
}

.displaySmall, h3 {
    font-family: "Work Sans", sans-serif;
    font-size: 3em;
    line-height: 1.2em;
    font-weight: normal;
    letter-spacing: 0px;
}

.headlineLarge, h4 {
    font-family: "Work Sans", sans-serif;
    font-size: 2.55em;
    line-height: 1.2em;
    font-weight: normal;
    letter-spacing: 0px;
}
.headlineMedium, h5 {
    font-family: "Work Sans", sans-serif;
    font-size: 2.33em;
    line-height: 1.2em;
    font-weight: normal;
    letter-spacing: 0px;
}
.headlineSmall, h6 {
    font-family: "Work Sans", sans-serif;
    font-size: 2em;
    line-height: 1.2em;
    font-weight: normal;
    letter-spacing: 0px;
}

.titleLarge {
    font-family: "Work Sans", sans-serif;
    font-size: 1.833em;
    line-height: 1.2em;
    font-weight: normal;
    letter-spacing: 0px;
}

.titleMedium {
    font-family: "Work Sans", sans-serif;
    font-size: 1.333em;
    line-height: 1.2em;
    font-weight: 500;
    letter-spacing: 0.15px;
}

.titleSmall {
    font-family: "Work Sans", sans-serif;
    font-size: 1.167em;
    line-height: 1.2em;
    font-weight: 500;
    letter-spacing: 0.1px;
}

.labelLarge {
    font-family: "Inter", sans-serif;
    font-size: 1.167em;
    line-height: 1.5em;
    font-weight: 500;
    letter-spacing: 0.0084em;
}

.labelMedium {
    font-family: "Inter", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 500;
    letter-spacing: 0.0417em;
}

.labelSmall {
    font-family: "Inter", sans-serif;
    font-size: 0.917em;
    line-height: 1.5em;
    font-weight: 500;
    letter-spacing: 0.0417em;
}

.bodyLarge {
    font-family: "Inter", sans-serif;
    font-size: 1.33em;
    line-height: 1.5em;
    font-weight: normal;
    letter-spacing: 0.0417em;
}

.bodyMedium {
    font-family: "Inter", sans-serif;
    font-size: 1.167em;
    line-height: 1.5em;
    font-weight: normal;
    letter-spacing: 0.021em;
}

.bodySmall p {
    font-family: "Inter", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: normal;
    letter-spacing: 0.03em;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
.material-symbols-outlined.filled {
    font-variation-settings:'FILL' 1
}
