.appLayout {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: rgb(var(--md-sys-color-background));
    color: rgb(var(--md-sys-color-on-background));
    overflow: hidden;
    display: grid;
    grid-template-rows: 44px auto;
    grid-template-columns: auto 1fr;
    font-size: 12pt;
    box-sizing: border-box;
}

header {
    grid-column: 2 / -1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: rgb(var(--md-sys-color-app-bar));
}

header .brand {
    display: flex;
    align-items: center;
    color: rgb(var(--md-sys-color-tertiary));
}

header .brand img {
    height: 40px;
    padding: 0;
    margin-right: 0px;
}

nav{
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 100px 20px 20px 20px;
    gap: 40px;
    min-width: 220px;
    max-width: 360px;
    width: max-content;
    background-color: rgb(var(--md-sys-color-surface-container));
    transition: width 5s ease-in-out;
    box-sizing: border-box;
}
nav.collapsed{
    grid-column: 1/2;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 100px 20px 20px 20px;
    gap: 40px;
    min-width: 0;
    width: 96px;
    overflow: hidden;
}

nav.collapsed.expandible:hover{
    width: fit-content;
    min-width: 220px;
    max-width: 360px;
    align-items: flex-start;
    transition: width 0.5s ease-in-out;
}

nav .routes {
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
}

nav.collapsed .routes {
    align-items: center;
}

nav.collapsed.expandible:hover .routes {
    align-items: flex-start;
}
header .actions{
    position: relative;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    
    gap: 8px;
    width: 100%;
    width: min-content;
}

main {
    grid-column: 2;
    grid-row: 2;
    padding: 20px 20px 0px 20px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}