.navItem {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 16px;
    text-decoration: none;
    color: var(--md-sys-color-on-surface);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: fit-content;
    border-radius: var(--md-sys-corner-size-full);
    transition: background-color 0.2s, color 0.3s;
}

.collapsed .navItem{
    flex-direction: column;
    padding: 8px;    
}

.collapsed.expandible:hover .navItem{
    flex-direction: row;
    padding: 16px;
}

.collapsed .navItem .material-symbols-outlined{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding: 2px 0;
    border-radius: var(--md-sys-corner-size-full);
}
.collapsed.expandible:hover .navItem .material-symbols-outlined{
    width: auto;
    text-align: left;
}
.navItem .stateLayer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-radius: inherit;
    pointer-events: none;
}

.navItem.active{
    background-color: rgb(var(--md-sys-color-secondary-container));
}

.collapsed .navItem.active .material-symbols-outlined{
    background-color: rgb(var(--md-sys-color-secondary-container));
    color: rgb(var(--md-sys-color-on-secondary-container));
}
.collapsed .navItem{
    background-color: transparent;
}
.collapsed.expandible:hover .navItem.active{
    background-color: rgb(var(--md-sys-color-secondary-container));
}

.navItem:hover .stateLayer{
    background-color: rgb(var(--md-sys-color-on-surface-variant));
    opacity: var(--md-state-alpha-opacity-08);
}
.navItem:active .stateLayer{
    background-color: rgb(var(--md-sys-color-on-surface-variant));
    opacity: var(--md-state-alpha-opacity-10);
}

.navItem .stateLayer.collapsed{
    display: none;
}

.collapsed .navItem .stateLayer{
    display: none;
}

.collapsed .navItem .stateLayer.collapsed{
    display: block;
}

.collapsed.expandible:hover .navItem .stateLayer{
    display: block;
}
.collapsed.expandible:hover .navItem .stateLayer.collapsed{
    display: none;
}

.navItem .badge{
    position: absolute;
    top:-10px;
    right:-15px;
    min-width: 16px;
    height: 16px;
    padding: 0 4px;
    background-color: rgb(var(--md-sys-color-error));
    color: rgb(var(--md-sys-color-on-error));
    font-family: Inter, sans-serif;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--md-sys-corner-size-full);
}
.navItem .badge.small{
    top: 0px;
    right: -5px;
}
.collapsed .navItem .badge{
    top: -7px;
    right: -7px;
}
.collapsed .navItem .badge.small{
    top: 0px;
    right: 5px;
}

.collapsed.expandible:hover .navItem .badge{
    top: -10px;
    right: -15px;
}

.collapsed.expandible:hover .navItem .badge.small{
    top: 0px;
    right: -5px;
}

.navItem .badge.small{
    min-width: 10px;
    width: 10px;
    height: 10px;
    padding: 0;
}


