.toolbar {
    position: sticky;
    box-sizing: border-box;
    left: auto;
    right: auto;
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: rgb(var(--md-sys-color-surface-variant));
    padding: 8px 16px;
    z-index: 10;
    top: 0;
}

.toolbar .iconButton.active{
    color: rgb(var(--md-sys-color-tertiary));
}
