main section {
    position: relative;
    box-sizing: border-box;
    background-color: rgb(var(--md-sys-color-surface-container-lowest));
    border-radius: 28px;
    padding: 13px 16px;
    width: 100%;
    height: 100%;
}

section.myFiles {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.filesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: center;
    gap: 16px;
}

@media (max-width: 589px) {
    .filesContainer {
        width: 280px;
    } 
}

@media (min-width: 590px) and (max-width: 1023px){
    .filesContainer {
        width: 480px;
    }
    
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .filesContainer {
        width: 720px;
    }
    
}
@media (min-width: 1440px) {
    .filesContainer {
        width: 948px;
    }
    
}