.title {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: transparent;
    color: rgb(var(--md-sys-color-on-background));
    border: 1px solid transparent;
    border-radius: var(--md-sys-corner-size-small);
    width: auto ;
    max-width: 1fr;
    padding: 0 16px;
    field-sizing: content;
}
.title:hover{
    border: 1px solid rgb(var(--md-sys-color-outline-variant));
}
main{
    align-items: center;
}
.viewer{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 16px;
    overflow: hidden;
}
main section{
    background-color: transparent;
}

.viewer-container{
    position: sticky;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background-color: transparent;
    border-radius: var(--md-sys-corner-size-large);
    scroll-behavior: smooth;
    top: 0;
    padding: 0;

}

.viewer-container::-webkit-scrollbar {
    position: absolute;
    width:10px;
    height: 100%;
    background-color: rgb(var(--md-sys-color-surface-container-low));
    border-radius: var(--md-sys-corner-size-full);
}

.viewer-container::-webkit-scrollbar-thumb {
    background-color: rgba(var(--md-sys-color-on-surface),0.5);
    border-radius: var(--md-sys-corner-size-small);
    border: 2px solid transparent;
    background-clip: content-box;
}


.notebook {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(var(--md-sys-color-background));
    z-index: 0;
}

.viewer-placeholder {
    position: absolute;
    top: 8px;
    left: 8px;
    color: rgb(var(--md-sys-color-on-surface-variant));
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
}

.page{
    display: grid;
    box-sizing: border-box;
    font-size: inherit;
    width: 100%;
    overflow: hidden;
    line-height: 1.5;
    
    color: rgb(var(--md-sys-color-on-surface));
    background-color: rgb(var(--md-sys-color-surface-container-lowest));
    
    padding: 8px;
    margin-bottom: 20px;
    
    border-radius: var(--md-sys-corner-size-extra-small);
    box-shadow: var(--md-elevation-shadow-1);
    
}
.component {
    box-sizing: border-box;
    font-size: inherit;
    border: 1px dotted rgb(var(--md-sys-color-outline));
    padding: 4px;

}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
.notebook .displayLarge, h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 2.5em;
    line-height: 1.2em;
    font-weight: normal;
    letter-spacing: -0.25px;
}

.notebook .displayMedium, h2 {
    font-family: "Work Sans", sans-serif;
    font-size: 2.3em;
    line-height: 1.2em;
    font-weight: normal;
    letter-spacing: 0px;
}

.notebook.displaySmall, h3 {
    font-family: "Work Sans", sans-serif;
    font-size: 2.1em;
    line-height: 1.2em;
    font-weight: normal;
    letter-spacing: 0px;
}

.notebook.headlineLarge, h4 {
    font-family: "Work Sans", sans-serif;
    font-size: 1.90em;
    line-height: 1.2em;
    font-weight: normal;
    letter-spacing: 0px;
}
.notebook .headlineMedium, h5 {
    font-family: "Work Sans", sans-serif;
    font-size: 1.70em;
    line-height: 1.2em;
    font-weight: normal;
    letter-spacing: 0px;
}
.notebook .headlineSmall, h6 {
    font-family: "Work Sans", sans-serif;
    font-size: 1.50em;
    line-height: 1.2em;
    font-weight: normal;
    letter-spacing: 0px;
}

.notebook .titleLarge {
    font-family: "Work Sans", sans-serif;
    font-size: 1.833em;
    line-height: 1.2em;
    font-weight: normal;
    letter-spacing: 0px;
}

.notebook .titleMedium {
    font-family: "Work Sans", sans-serif;
    font-size: 1.333em;
    line-height: 1.2em;
    font-weight: 500;
    letter-spacing: 0.15px;
}

.notebook .titleSmall {
    font-family: "Work Sans", sans-serif;
    font-size: 1.167em;
    line-height: 1.2em;
    font-weight: 500;
    letter-spacing: 0.1px;
}

.notebook .labelLarge {
    font-family: "Inter", sans-serif;
    font-size: 1.167em;
    line-height: 1.5em;
    font-weight: 500;
    letter-spacing: 0.0084em;
}

.notebook .labelMedium {
    font-family: "Inter", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 500;
    letter-spacing: 0.0417em;
}

.notebook .labelSmall {
    font-family: "Inter", sans-serif;
    font-size: 0.917em;
    line-height: 1.5em;
    font-weight: 500;
    letter-spacing: 0.0417em;
}

.notebook .bodyLarge {
    font-family: "Inter", sans-serif;
    font-size: 1.33em;
    line-height: 1.5em;
    font-weight: normal;
    letter-spacing: 0.0417em;
}

.notebook .bodyMedium {
    font-family: "Inter", sans-serif;
    font-size: 1.167em;
    line-height: 1.5em;
    font-weight: normal;
    letter-spacing: 0.021em;
}

.notebook .bodySmall p {
    font-family: "Inter", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: normal;
    letter-spacing: 0.03em;
}

.notebook .material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.notebook .material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
.notebook .material-symbols-outlined.filled {
    font-variation-settings:'FILL' 1
}



@media (min-width: 1024px){
    .viewer {
        width: 900px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .viewer {
        width: 630px;
    }
}

.PlaygroundviewerTheme__tableScrollableWrapper {
  overflow-x: auto;
  margin: 0px 25px 30px 0px;
}
.PlaygroundviewerTheme__tableScrollableWrapper > .PlaygroundviewerTheme__table {
  /* Remove the table's vertical margin and put it on the wrapper */
  margin-top: 0;
  margin-bottom: 0;
}
.PlaygroundviewerTheme__tableAlignmentCenter {
  margin-left: auto;
  margin-right: auto;
}
.PlaygroundviewerTheme__tableAlignmentRight {
  margin-left: auto;
}
.PlaygroundviewerTheme__table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow-y: scroll;
  overflow-x: scroll;
  table-layout: fixed;
  width: fit-content;
  margin-top: 25px;
  margin-bottom: 30px;
}
.PlaygroundviewerTheme__tableScrollableWrapper.PlaygroundviewerTheme__tableFrozenRow {
  /* position:sticky needs overflow:clip or visible
     https://github.com/w3c/csswg-drafts/issues/865#issuecomment-350585274 */
  overflow-x: clip;
}
.PlaygroundviewerTheme__tableFrozenRow tr:nth-of-type(1) > td {
  overflow: clip;
  background-color: #ffffff;
  position: sticky;
  z-index: 2;
  top: 44px;
}
.PlaygroundviewerTheme__tableFrozenRow tr:nth-of-type(1) > th {
  overflow: clip;
  background-color: #f2f3f5;
  position: sticky;
  z-index: 2;
  top: 44px;
}
.PlaygroundviewerTheme__tableFrozenRow tr:nth-of-type(1) > th:after,
.PlaygroundviewerTheme__tableFrozenRow tr:nth-of-type(1) > td:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #bbb;
}
.PlaygroundviewerTheme__tableFrozenColumn tr > td:first-child {
  background-color: #ffffff;
  position: sticky;
  z-index: 2;
  left: 0;
}
.PlaygroundviewerTheme__tableFrozenColumn tr > th:first-child {
  background-color: #f2f3f5;
  position: sticky;
  z-index: 2;
  left: 0;
}
.PlaygroundviewerTheme__tableFrozenColumn tr > :first-child::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  border-right: 1px solid #bbb;
}
.PlaygroundviewerTheme__tableRowStriping tr:nth-child(even),
.PlaygroundviewerTheme__tableFrozenColumn
  .PlaygroundviewerTheme__table.PlaygroundviewerTheme__tableRowStriping
  tr:nth-child(even)
  > td:first-child {
  background-color: #f2f5fb;
}
.PlaygroundviewerTheme__tableSelection *::selection {
  background-color: transparent;
}
.PlaygroundviewerTheme__tableSelected {
  outline: 2px solid rgb(60, 132, 244);
}
.PlaygroundviewerTheme__tableCell {
  border: 1px solid #bbb;
  width: 75px;
  vertical-align: top;
  text-align: start;
  padding: 6px 8px;
  position: relative;
  outline: none;
  overflow: auto;
}
/*
  A firefox workaround to allow scrolling of overflowing table cell
  ref: https://bugzilla.mozilla.org/show_bug.cgi?id=1904159
*/
.PlaygroundviewerTheme__tableCell > * {
  overflow: inherit;
}
.PlaygroundviewerTheme__tableCellResizer {
  position: absolute;
  right: -4px;
  height: 100%;
  width: 8px;
  cursor: ew-resize;
  z-index: 10;
  top: 0;
}
.PlaygroundviewerTheme__tableCellHeader {
  background-color: #f2f3f5;
  text-align: start;
}
.PlaygroundviewerTheme__tableCellSelected {
  caret-color: transparent;
}
.PlaygroundviewerTheme__tableCellSelected::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: highlight;
  mix-blend-mode: multiply;
  content: '';
  pointer-events: none;
}
.PlaygroundviewerTheme__tableAddColumns {
  position: absolute;
  background-color: #eee;
  height: 100%;
  animation: table-controls 0.2s ease;
  border: 0;
  cursor: pointer;
}
.PlaygroundviewerTheme__tableAddColumns:after {
  background-image: url(../images/icons/plus.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.PlaygroundviewerTheme__tableAddColumns:hover,
.PlaygroundviewerTheme__tableAddRows:hover {
  background-color: #c9dbf0;
}
.PlaygroundviewerTheme__tableAddRows {
  position: absolute;
  width: calc(100% - 25px);
  background-color: #eee;
  animation: table-controls 0.2s ease;
  border: 0;
  cursor: pointer;
}
.PlaygroundviewerTheme__tableAddRows:after {
  background-image: url(../images/icons/plus.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
@keyframes table-controls {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.PlaygroundviewerTheme__tableCellResizeRuler {
  display: block;
  position: absolute;
  width: 1px;
  background-color: rgb(60, 132, 244);
  height: 100%;
  top: 0;
}
.PlaygroundviewerTheme__tableCellActionButtonContainer {
  display: block;
  right: 5px;
  top: 6px;
  position: absolute;
  z-index: 4;
  width: 20px;
  height: 20px;
}
.PlaygroundviewerTheme__tableCellActionButton {
  background-color: #eee;
  display: block;
  border: 0;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  color: #222;
  cursor: pointer;
}
.PlaygroundviewerTheme__tableCellActionButton:hover {
  background-color: #ddd;
}

.PlaygroundviewerTheme__contextMenu {
  outline: 0;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.PlaygroundviewerTheme__contextMenu button:first-child {
  border-radius: 8px 8px 0px 0px;
}
.PlaygroundviewerTheme__contextMenu button:last-child {
  border-radius: 0px 0px 8px 8px;
}
.PlaygroundviewerTheme__contextMenuItem {
  width: 100%;
  display: block;
}
.PlaygroundviewerTheme__contextMenuItem {
  display: flex;
  justify-content: left;
  width: 100%;
  background-color: #fff;
  color: #050505;
  border: 0;
  border-radius: 0px;
  font-size: 15px;
  text-align: left;
  line-height: 20px;
  padding: 8px;
  padding-right: 14px;
  outline: 0;
  cursor: pointer;
}
.PlaygroundviewerTheme__contextMenuItem.open {
  background: #ddd;
}
.PlaygroundviewerTheme__contextMenuItem:focus,
.PlaygroundviewerTheme__contextMenuItem:not([disabled]):active {
  background: #eee;
}
.PlaygroundviewerTheme__contextMenuItem:disabled {
  background: #fff;
  color: #aaa;
  cursor: not-allowed;
}
.PlaygroundviewerTheme__contextMenuItemIcon {
  width: 20px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-size: contain;
}