.loginOverlay{
  position: absolute;
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  z-index: 50;
  color: rgb(var(--md-sys-color-on-background));
  
}